<div className="descproducto">
    <img src="{{products.thumbnails}}" alt="">
    <h2>{{products.title}}</h2>

    <h4>{{products.category}}</h4>
    </Link>
    <hr />
    <p>
        <strong>{{products.title}}</strong>.
        <br />
        <br />
        {{products.description}}
        <br />
        <br />
    </p>
    <p className="indicacion">
        <br />
        VENTA MINIMA {{products.stock}}cantidad de unidades x ${{products.price}}.
    </p>

    <hr />
</div>